
body{
    background: url('../images/bg.jpg') ;
}

.registerPanelGrid.ui-panelgrid>*>tr,
.registerPanelGrid.ui-panelgrid .ui-panelgrid-cell {
    background: transparent;
    border:none;
    width: 220px;
    height: 35px;
    color: white;
}

.ui-datatable .ui-datatable-header{
    height: 37px;
}

.transferPanelGrid.ui-panelgrid>*>tr,
.transferPanelGrid.ui-panelgrid .ui-panelgrid-cell {
    background: transparent;
    border:none;
    height: auto;
}

.container{
    position: absolute;
    margin: 0 15%;
    transform-origin: center;
    width: 70%;
}

.tabel
{
    width: auto;
}

.uang{
    display: block;
    text-align: right;
    left: 100px;
}

.fieldSetRegister
{
    float: left;
    margin-bottom:20px;
    width: 450px;
    height: 300px
}

.fieldSetChart
{
   
    margin-bottom:20px;
    margin-left: 510px;
    margin-right: 10px;
    height: 300px;
    
}

.fieldSetTabel
{
    clear: left;
    margin-bottom:20px;
}

.chart{
    display: inline-block;
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    height: 255px;
}

 .content{
    position: absolute;
    width: 100%;
    height: 85px;
    top: 85px;
}
.data{
    position: absolute;
    top: 154px;
    width: 100%;
}