<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <h:head>
        <title>Tiny Virtual Account</title>
        <f:metadata>
            <f:event listener="#{loginBacking.verifyLogin()}" type="preRenderView"></f:event>
        </f:metadata>
        
        <link type="text/css" rel="stylesheet" 
              href="#{request.contextPath}/resource/view.css" />
        <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="#{request.contextPath}/resource/style.css" type="text/css" media="screen"/>
        <script type="text/javascript" src="javascript/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="javascript/menuJS.js"></script>
        
    </h:head>
    <h:body>
        
        <f:view>
            
            <div class="container" style="width: 1300px;">
                
                <div class="content">
                    <h:form id="form3">
			<ul id="sdt_menu" class="sdt_menu">
				<li>
                                    <a href="#">
                                            <img src="images/leo.jpg" alt=""/>
                                            <span class="sdt_active"></span>
                                            <span class="sdt_wrap">
                                                <h:outputText id="nameProfile" class="sdt_link" value="#{loginBacking.session.name}" />
                                                <span class="sdt_descr">My Profile</span>
                                            </span>
                                            
                                    </a>
                                    <div class="sdt_box">
                                            <p:commandLink value="Edit" onclick="PF('dlgUser').show();" />
                                            <p:commandLink value="Logout" action="#{sessionBacking.logout()}" />
                                    </div>
				</li>
			</ul>
                    </h:form>
		</div>
                
                <div class="data">
                    <h:form >
                        <p:fieldset legend="Register" styleClass="fieldSetRegister" style="background: transparent;">
                        <p:growl id="msg" />
                        <p:panelGrid id="register" columns="2" styleClass="registerPanelGrid" >
                            <p:outputLabel value="Id:" for="id" />
                            <p:inputText  id="id" value="#{accountBacking.id}" title="Id" />
                            <p:outputLabel value="Name:" for="name" />
                            <p:inputText id="name" value="#{accountBacking.name}" title="Name" />
                            <p:outputLabel value="Dob:" for="dob" />
                            <p:calendar id="dob" value="#{accountBacking.dob}" yearRange="c-70:c+0"  navigator="true" maxdate="#{accountBacking.date}" />
                            <p:outputLabel value="AllowNegative:" for="allowNegative" />
                            <p:selectBooleanCheckbox id="allowNegative" value="#{accountBacking.allowNegative}"/>
                            <p:outputLabel value="" />
                            <p:commandButton value ="Submit" action="#{accountBacking.create()}" update="msg :form:tabelAccount register"/>
                        </p:panelGrid>

                        </p:fieldset>
                    </h:form>
            
                    <h:form id="formChart">
                        <p:fieldset styleClass="fieldSetChart" legend="Chart" style="background: transparent;">
                            <p:chart id="chart" type="line"  model="#{transferBacking.lineModel}" styleClass="chart"/>
                        </p:fieldset>
                    </h:form>
            
            
                    <h:form id="form">
                        <p:fieldset legend="Accounts" styleClass="fieldSetTabel" style="background: transparent;">
                            <p:dataTable id="tabelAccount"  
                                         widgetVar="accountTable" 
                                         value="#{accountBacking.lazyAccountModel}" 
                                         var="item" 
                                         styleClass="tabel" 
                                         rows="5"
                                         paginator="true"
                                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                         rowsPerPageTemplate="5,10,15" 
                                         paginatorPosition="bottom"
                                         lazy="true">
                                <f:facet name="header" >
                                   
                                    <p:commandButton id="toggler" type="button" value="Columns" style="float:right" icon="ui-icon-calculator" />
                                    <p:columnToggler datasource="tabelAccount" trigger="toggler" />
                                </f:facet>
                                <p:column headerText="Id" sortBy="#{item.id}" filterBy="#{item.id}"  filterMatchMode="contains" style="text-align: center">
                                    <h:outputText value="#{item.id}" />
                                </p:column>
                                <p:column headerText="Name" filterBy="#{item.name}" sortBy="#{item.name}" filterMatchMode="contains" style="text-align: center">
                                    <h:outputText value="#{item.name}" />
                                </p:column>
                                <p:column headerText="DoB" style="text-align: center" sortBy="#{item.dob}">
                                    <h:outputText value="#{item.dob}">
                                        <f:convertDateTime pattern="dd/MMM/yyyy" />
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Allow Negative" style="text-align: center">
                                    <h:outputText value="#{item.allowNegative}" />
                                </p:column>
                                <p:column headerText="Balance (Rp)" sortBy="#{item.balance}" >
                                    <h:outputText value="#{item.balance}" style="text-align:right" styleClass="uang" >
                                        <f:convertNumber type="currency" locale="en-US" currencySymbol=""/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Action" style="text-align: center">
                                    <p:commandButton action="#{transferBacking.reset(item)}" 
                                                     update=":transferForm" 
                                                     onclick ="PF('dlg2').show();"  
                                                     value="Transfer"
                                                     >
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </p:fieldset>
                        <p:blockUI block="tabelAccount" trigger="tabelAccount">
                            LOADING<br />
                            <p:graphicImage value="images/ajax-loader.gif"/>
                        </p:blockUI>
                    </h:form> 
            
                    <h:form id="form2">
                        <p:fieldset legend="Transfer History" styleClass="fieldSetTabel" toggleable="true" toggleSpeed="500" style="background: transparent;">
                            
                            <p:ajax event="toggle" listener="#{transferBacking.handleToggle}" />
                            <p:dataTable id="tabelHistory" 
                                         value="#{transferBacking.lazyTransferModel}" 
                                         var="item" 
                                         rows="5"
                                         paginator="true"
                                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                         rowsPerPageTemplate="5,10,15" paginatorPosition="bottom"
                                         lazy="true">
                                <f:facet name="header" >
                                    
                                    <p:commandButton id="toggler" type="button" value="Columns" style="float:right" icon="ui-icon-calculator" />
                                    <p:columnToggler datasource="tabelHistory" trigger="toggler" />
                                </f:facet>
                                <p:column headerText="Id" style="text-align: center" sortBy="#{item.id}">
                                   <h:outputText value="#{item.id}"/>
                               </p:column>
                                <p:column headerText="Date" sortBy="#{item.date}">
                                   <h:outputText value="#{item.date}">
                                       <f:convertDateTime pattern="dd/MMM/yyyy : HH:mm:ss"  />
                                   </h:outputText>
                               </p:column>
                                <p:column headerText="Ammount (Rp)" sortBy="#{item.ammount}">
                                    <h:outputText value="#{item.ammount}" style="text-align:right " styleClass="uang">
                                       <f:convertNumber type="currency" locale="en-US" currencySymbol=""/>
                                   </h:outputText>
                               </p:column>
                                <p:column headerText="From" style="text-align: center" sortBy="#{item.idAccount.id}" filterBy="#{item.idAccount.id}">
                                   <h:outputText value="#{item.idAccount.id}"/>
                               </p:column>
                                <p:column headerText="Destination" style="text-align: center" sortBy="#{item.destination.id}" filterBy="#{item.destination.id}">
                                   <h:outputText value="#{item.destination.id}"/>
                               </p:column>
                           </p:dataTable>
                       </p:fieldset>
                        <p:blockUI block="tabelHistory" trigger="tabelHistory">
                            LOADING<br />
                            <p:graphicImage value="images/ajax-loader.gif"/>
                        </p:blockUI>
                    </h:form> 
                </div>
            </div>
            
        </f:view>
        
        <p:dialog  header="Transfer Dialog"  widgetVar="dlg2" modal="true" height="200px" width="450px">
            <h:form id="transferForm" >
                <p:growl id="message" showDetail="false" />
                <p:panelGrid id ="transForm" columns="2" styleClass="transferPanelGrid">
                    <h:outputLabel  value="From" />
                    <h:outputText value="#{transferBacking.sender.name}" />
                    <h:outputLabel  value="Destination" />
                    <p:inputText value="#{transferBacking.dest}" >
                        <p:ajax event="change" update="out" listener="#{transferBacking.handleKeyEvent()}" />
                    </p:inputText>
                    <h:outputLabel  value="" />
                    <h:outputLabel id="out" value="#{transferBacking.receiver.name}" />
                    <h:outputLabel  value="Ammount" />
                    <pe:inputNumber styleClass="normal" id="ammount" value="#{transferBacking.ammount}" symbol=" Rp. " symbolPosition="p"  
                                     decimalSeparator="," thousandSeparator="."  />
                    <br/>
                    <p:commandButton  value="Submit" actionListener="#{transferBacking.transfer()}" onclick="PF('dlg2').hide();" update="message :formChart:chart :form:tabelAccount transForm :form2:tabelHistory">
                        <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
                    </p:commandButton>
                </p:panelGrid>
                
            </h:form>
        </p:dialog>  
        
        
        <p:dialog  header="Edit User"  widgetVar="dlgUser" modal="true" height="270" width="500">
            <h:form id="editForm">
                <p:growl id="message" showDetail="false" />
                <p:panelGrid id ="editPanel" styleClass="transferPanelGrid">
                    <p:row>
                        <p:column><h:outputLabel  value="Username" /></p:column>
                        <p:column><h:outputText value="#{sessionBacking.username}" /></p:column>
                    </p:row>
                    <p:row>
                        <p:column><h:outputLabel  value="Name" /></p:column>
                        <p:column><p:inputText id="name" value="#{loginBacking.name}" />
                                  <p:watermark for="name" value="#{sessionBacking.name}" /> 
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column><h:outputLabel  value="Old Password" /></p:column>
                        <p:column><p:inputText type="password"  value="#{loginBacking.oldPassword}"  /></p:column>
                    </p:row>
                    <p:row>
                        <p:column><h:outputLabel  value="New Password" /></p:column>
                        <p:column><p:inputText type="password"  value="#{loginBacking.newPassword}"  /></p:column>
                    </p:row>
                    <p:row>
                        <p:column><h:outputLabel  value="Confirm Password" /></p:column>
                        <p:column><p:inputText type="password"  value="#{loginBacking.confirmPassword}"  /></p:column>
                    </p:row>
                    <p:row>
                        <p:column></p:column>
                        <p:column>
                            <p:commandButton value="Submit" actionListener="#{loginBacking.update()}" onclick="PF('dlgUser').hide();" update="message :form3:nameProfile :editForm" oncomplete="name()">
                                <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
                            </p:commandButton>
                            <p:commandButton value="Cancel" onclick="PF('dlgUser').hide();" actionListener="#{loginBacking.reset()}" update=":editForm" />    
                        </p:column>
                    </p:row>
                </p:panelGrid>
                
            </h:form>
        </p:dialog>  

        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
            <h:form>
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </h:form>
        </p:confirmDialog>

    </h:body>
</html>