<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Login</title>
        <link type="text/css" rel="stylesheet" 
              href="#{request.contextPath}/resource/login.css" />
    </h:head>
    <h:body>
        <f:view>
            <div class="container">
                <h:form class="form-2">
                    <p:growl id="msg"/>
                    <h1><span class="log-in">Log in</span> or <h:commandLink class="sign-up" action="register.xhtml?faces-redirect=true" value="SIGN UP"/></h1>
                    <p:panelGrid columns="2" style="width: 100%;" styleClass="loginPanel">
                        <p:outputLabel value="Username:" for="username" />
                        <p:inputText styleClass="username" id="username" value="#{loginBacking.username}" title="Username" />
                        <p:outputLabel value="Password:" for="password" />
                        <p:inputText styleClass="password" id="password" value="#{loginBacking.password}" title="Password" type="password" />
                        <br/>
                        <p:commandButton class="button" value ="LOG IN" action="#{loginBacking.login()}" update="msg"/>
                    </p:panelGrid>
                </h:form>
            </div>
        </f:view>
    </h:body>
</html>

