<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Register</title>
        <link type="text/css" rel="stylesheet" 
              href="#{request.contextPath}/resource/login.css" />
    </h:head>
    <h:body>
        <f:view>
            <div class="container">
            <h:form class="form-2">
                <p:growl id="msg" />
                <h1><h:outputText value="Register"/></h1>
                <p:panelGrid columns="2" style="width: 100%" styleClass="loginPanel">
                    <p:outputLabel value="Username:" for="username" />
                    <p:inputText styleClass="username" id="username" value="#{userBacking.usernames}" title="Username" />
                    <p:outputLabel value="Password:" for="password" />
                    <p:inputText styleClass="username" id="password" value="#{userBacking.password}" title="Password" type="password"/>
                    <p:outputLabel value="Name:" for="name" />
                    <p:inputText styleClass="username" id="name" value="#{userBacking.name}" title="Name" />
                    <p:commandLink value="Back to Login" action="index" style="font-size: 13px; color: blue;"/>
                    <p:commandButton class="button" type="submit" value ="Submit" action="#{userBacking.create()}" update="msg" />
                </p:panelGrid>
            </h:form>
            </div>
        </f:view>
    </h:body>
</html>

